In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import seaborn as sns ; sns.set()
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
%matplotlib inline
from sklearn.decomposition import PCA

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV

from time import perf_counter
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown, display
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("houses_to_rent.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB

In [4]:
df.count()

Unnamed: 0        6080
city              6080
area              6080
rooms             6080
bathroom          6080
parking spaces    6080
floor             6080
animal            6080
furniture         6080
hoa               6080
rent amount       6080
property tax      6080
fire insurance    6080
total             6080
dtype: int64

In [5]:
 print(df.isnull().sum())

Unnamed: 0        0
city              0
area              0
rooms             0
bathroom          0
parking spaces    0
floor             0
animal            0
furniture         0
hoa               0
rent amount       0
property tax      0
fire insurance    0
total             0
dtype: int64

In [6]:
df.shape

(6080, 14)

In [7]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [8]:
df.describe()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces
count,6080.00000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,3039.50000,0.863322,151.143914,2.492599,2.341612,1.756250
std,1755.28915,0.343535,375.559485,1.129665,1.438860,1.611909
min,0.00000,0.000000,10.000000,1.000000,1.000000,0.000000
25%,1519.75000,1.000000,58.000000,2.000000,1.000000,1.000000
50%,3039.50000,1.000000,100.000000,3.000000,2.000000,1.000000
75%,4559.25000,1.000000,200.000000,3.000000,3.000000,2.000000
max,6079.00000,1.000000,24606.000000,10.000000,10.000000,12.000000

In [9]:
df['floor'].replace(to_replace='-', value=0, inplace=True)

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [11]:
df['animal'].replace('acept', 0, inplace = True)
df['animal'].replace('not acept', 1, inplace = True)
df['furniture'].replace('furnished', 0, inplace = True)
df['furniture'].replace('not furnished', 1, inplace = True)

In [12]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,0,0,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,0,1,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,0,0,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,0,1,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,1,1,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [13]:
df.describe()

,city,area,rooms,bathroom,parking spaces,animal,furniture
count,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,0.863322,151.143914,2.492599,2.341612,1.756250,0.232566,0.739803
std,0.343535,375.559485,1.129665,1.438860,1.611909,0.422502,0.438778
min,0.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,58.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,1.000000,100.000000,3.000000,2.000000,1.000000,0.000000,1.000000
75%,1.000000,200.000000,3.000000,3.000000,2.000000,0.000000,1.000000
max,1.000000,24606.000000,10.000000,10.000000,12.000000,1.000000,1.000000

In [14]:
money_columns = ['hoa', 'rent amount', 'property tax', 'fire insurance', 'total']

In [15]:
df[money_columns] = df[money_columns].replace({'R\$': '', ',': ''}, regex=True)

In [16]:
df.replace(['Sem info', 'Incluso'], np.nan, inplace=True)

In [17]:
df[money_columns] = df[money_columns].astype(float)

In [18]:
df.dropna(inplace=True)

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,0,0,0.0,8000.0,1000.0,121.0,9121.0
1,0,64,2,1,1,10,0,1,540.0,820.0,122.0,11.0,1493.0
2,1,443,5,5,4,3,0,0,4172.0,7000.0,1417.0,89.0,12680.0
3,1,73,2,2,1,12,0,1,700.0,1250.0,150.0,16.0,2116.0
4,1,19,1,1,0,0,1,1,0.0,1200.0,41.0,16.0,1257.0

In [21]:
X = df[['furniture','area','hoa', 'property tax', 'fire insurance', 'total']]

In [22]:
y = df['rent amount']

In [23]:

X.shape, y.shape

((5660, 6), (5660,))

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [25]:
imputer = SimpleImputer(strategy='mean') 
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [26]:
knn_model = KNeighborsRegressor(n_neighbors=5)

In [27]:
knn_model.fit(X_train, y_train)

KNeighborsRegressor()

In [28]:
y_pred = knn_model.predict(X_test)

In [29]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 223243.50186101295

In [30]:
param_grid = {'n_neighbors': [3, 5, 7, 9, 11]}

In [31]:
knn_model = KNeighborsRegressor()

In [32]:
grid_search = GridSearchCV(knn_model, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': [3, 5, 7, 9, 11]},
             scoring='neg_mean_squared_error')

In [33]:
best_n_neighbors = grid_search.best_params_['n_neighbors']
print("Melhor valor para n_neighbors:", best_n_neighbors)

Melhor valor para n_neighbors: 7

In [34]:
best_knn_model = grid_search.best_estimator_
y_pred = best_knn_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE) com o melhor valor de n_neighbors:", mse)

Mean Squared Error (MSE) com o melhor valor de n_neighbors: 209977.3637412563

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [36]:
linear_model = LinearRegression()

In [37]:
linear_model.fit(X_train, y_train)

LinearRegression()

In [38]:
y_pred_linear = linear_model.predict(X_test)

In [39]:
mse_linear = mean_squared_error(y_test, y_pred_linear)
print("Mean Squared Error (MSE) com o modelo de regressão linear:", mse_linear)

Mean Squared Error (MSE) com o modelo de regressão linear: 87.38260975627281

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [41]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

In [42]:
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [43]:
y_pred_rf = rf_model.predict(X_test)

In [44]:
mse_rf = mean_squared_error(y_test, y_pred_rf)
print("Mean Squared Error (MSE) com o modelo Random Forest:", mse_rf)

Mean Squared Error (MSE) com o modelo Random Forest: 77730.55733727916

In [45]:
mse_linear = 87.38
mse_rf = 777.30
mse_knn = 209.977

In [46]:
rmse_linear = np.sqrt(mse_linear)
rmse_rf = np.sqrt(mse_rf)
rmse_knn = np.sqrt(mse_knn)

In [47]:
print("RMSE do modelo de regressão linear:", rmse_linear)
print("RMSE do modelo Random Forest:", rmse_rf)
print("RMSE do melhor valor de n_neighbors (KNN):", np.sqrt(mse_knn))

RMSE do modelo de regressão linear: 9.347726996441434
RMSE do modelo Random Forest: 27.88010043023518
RMSE do melhor valor de n_neighbors (KNN): 14.490583149066154

In [48]:
from sklearn.ensemble import RandomForestRegressor as regr
model =regr()
model.fit(X_train,y_train)
print(r2_score(y_test,model.predict(X_test)))

0.994554410146188

In [49]:
from sklearn.linear_model import LinearRegression as regr
model =regr()
model.fit(X_train,y_train)
print(r2_score(y_test,model.predict(X_test)))

0.9999932158749006

In [50]:
from sklearn.neighbors import KNeighborsRegressor as regr
model =regr()
model.fit(X_train,y_train)
print(r2_score(y_test,model.predict(X_test)))

0.9826680406037297